*{
    margin:0;
    padding:0;
}

li{
    list-style-type: none;
    background-color: plum;
    height: 200px;
    margin: 1px;
    border-radius: 5px;
}

ul{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;

}